.btn-info {
    background-color: #0b8ea2;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  
  .btn-info:hover {
    background-color: #138496;
  }
  .button-space {
    margin-left: 10px;
  }
.btn-danger {
    background-color: #cb203a;
    color: white;
    border-radius: 4px;
    padding: 9px 20px;
    text-decoration: none;
    border: none; 
  }
  
  .btn-danger:hover {
    background-color: #b41d34;
  }
  